<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154534724221-m4h75h1i17lnm0ep2911tpom0jb9fl4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154534724221-m4h75h1i17lnm0ep2911tpom0jb9fl4p</string>
	<key>API_KEY</key>
	<string>AIzaSyBRvw2AqOy6U47G-9qLpzDdk8jZDJjGIvI</string>
	<key>GCM_SENDER_ID</key>
	<string>154534724221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PoopChat.poopyApp</string>
	<key>PROJECT_ID</key>
	<string>poopchat-3800d</string>
	<key>STORAGE_BUCKET</key>
	<string>poopchat-3800d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:154534724221:ios:f6f590d95404df09</string>
	<key>DATABASE_URL</key>
	<string>https://poopchat-3800d.firebaseio.com</string>
</dict>
</plist>